# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.cache
*.userprefs

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# App config
appsettings.Development.json
appsettings.json
!appsettings.example.json

# Database
*.mdf
*.ldf

# OS
.DS_Store
Thumbs.db
